{% extends "blog/base.html" %}
{% block content %}
    <h3>this</h3>
    <button>Aha</button>
    <button type="button" class="btn btn-default">Default</button>
    <a class="btn btn-outline-info" href="{% url 'blog-home' %}">Home</a>
    <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>

    <div class="content-section">
        <div class='row'>
            <div class='col'>
                <div class="content-section">
                This is an alert!
                </div>            
            </div>
            <div class='col'>
                <div class="content-section">
                This is an alert!
                </div>            
            </div>
            <div class='col'>
                    <div class="content-section">
                    This is an alert!
                    </div>            
            </div>
            <div class='col'>
                    <div class="content-section">
                    This is an alert!
                    </div>            
                </div>
                <div class='col'>
                    <div class="content-section">
                    This is an alert!
                    </div>            
                </div>
                <div class='col'>
                        <div class="content-section">
                        This is an alert!
                        </div>            
                </div>
        </div>
    </div>

{% endblock content %}